<html>
<head>
	<title>Users page</title>
</head>
<body>
	That's the users list page !<br/><br/>

	<ul>
		<% for(var i = 0; i < users.length; i++) {%>
		<li><%= users[i].name %> | <%= users[i]._id %></li>
		<% } %>
	</ul>
</body>
</html>